body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./img/_9af7e2ad-07b5-42a3-8488-35a552ce6087.jpeg);
    background-size: cover; /* Pour que l'image couvre toute la zone visible */
    background-position: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#ideaContainer {
    margin-top: 20px;
    border-style: 5px;
}
